/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */
.messages-entry {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  padding-top: 12px;
}
.messages-entry .fa {
  margin-right: 12px;
}
.messages-entry .meta {
  display: block;
  margin-left: 32px;
  max-width: 80%;
}
.animation {
  -webkit-transition: 1s;
}
.animation.ng-enter {
  opacity: 0;
}
.animation.ng-leave {
  opacity: 1;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.animation.ng-leave.ng-leave-active {
  opacity: 0;
}
