<h1> Events</h1>
<p> Welcome to the event creation page</p>
<%if (req.user) { %>
<form action="/finishedcreateevent" method="get" id="createevent">
    <label>Create Event:</label>
    <input type="text" name="eventname" id="input"/>
    <input type="text" name="eventtype" id="input"/>
    <input type="text" name="eventdate" id="input"/>
    <input type="text" name="eventstart" id="input"/>
    <input type="text" name="eventend" id="input"/>
    <input type="submit" value="submit" action="/finishedcreateevent">
</form>
<% } %>
