<!DOCTYPE html>
<html>
<body>

<h2>List of Events</h2>
<p>Choose a preexisting event or create a new event:</p>

<%if (req.user) { %>
<div>
<form method="get" action="/usereventjoin">
<input type="text" name="user" value="<%= req.user.id%>">
</section>
  <select name="events">
    <% for(var i=0; i<listofevents.length; i++) {%>
        <option value="<%= listofevents[i].id %>"><%= listofevents[i].eventname %></option>
    <% } %>
  </select>
  <br><br>
  <input type="submit" value="submit" action="/usereventjoin">
</form>
</div>
<div>
<form method="get" action="/showevents">
<input type="text" name="userid" value="<%= req.user.id%>">
<input type="submit" value="Show Events for this User" action="/showevents">
</form>
</div>
<% } %>

</body>
</html>
