<div class="container col-sm-3">
  <h1 class="text-center mt-5">Login</h1>
  <hr/>
  <div class="login-form">
    <form autocomplete="off" method="post" class="form-horizontal" role="form" action="/login">
      <div class="form-group pt-3">
        <input type="text" name="username" placeholder="Username" class="form-control" />
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control" />
      </div>

      <div class="form-group w-25 pt-4">
        <button type="submit" value="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </form>

    <div class="pt-3 text-white" style="font-size:18px;">
      <strong>
        Or create an account here --->
        <a href="/signup" style="color:black">Sign up</a>
      </strong>
    </div>

  </div>
</div>
