<div class="container col-sm-3">
  <h1 class="text-center mt-5">Create an account</h1>
  <hr/>
  <div class="signup-form">
    <form autocomplete="off" method="post" class="form-horizontal" role="form" action="/signup">
      <div class="form-group pt-3">
        <input type="text" name="username" placeholder="Username" class="form-control" />
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control" />
      </div>
      <!-- <div class="form-group">
        <input type="password" name="confirm" placeholder="Confirm Password" class="form-control" />
      </div> -->

      <div class="form-group pt-3">
        <input type="text" name="name" placeholder="Name" class="form-control" />
      </div>
      <div class="form-group">
        <input type="text" name="surname" placeholder="Surname" class="form-control" />
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" class="form-control" />
      </div>

      <div class="form-group w-25 pt-4">
        <button type="submit" value="submit" class="btn btn-primary btn-block">Register</button>
      </div>
    </form>

    <div class="pt-3 text-white" style="font-size:18px;">
      <strong>
        Or you can login here --->
        <a href="/login" style="color:black">Login</a>
      </strong>
    </div>

  </div>
</div>
